* {
    -webkit-font-smoothing: antialiased;

    &,
    &::before,
    &::after {
        box-sizing: inherit;
    }

    @media print {
        -webkit-print-color-adjust: exact;
    }
}

html,
body {
    min-width: $site-min-width;
    height: 100%;
    box-sizing: border-box;
    font-family: "LucidaGrande", sans-serif;
    font-size: 16.67px;
    line-height: 1.321;
    color: #000;
    background-color: #fff;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 1.321em;
    margin-bottom: 1.321em;
    line-height: 1.321;
    text-transform: uppercase;
    color: #d7203e;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

h1, .h1 {
    margin-top: 26px;
    margin-bottom: 26px;
    font-size: 24px;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

h2, .h2 {
    font-size: 20px;
}

h3, .h3 {
    font-size: 16.67px;
}

h4, .h4 {
    font-size: 14px;
}

h5, .h5 {
    font-size: 12px;
}

h6, .h6 {
    font-size: 10px;
}

p {
    margin-top: 22px;
    margin-bottom: 22px;
    font-size: 16.67px;
    line-height: 1.321;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

ul {
    margin-top: 22px;
    margin-bottom: 22px;
    list-style-type: none;

    li {
        position: relative;
        padding-left: 19px;
        overflow: hidden;

        &:before {
            position: absolute;
            content: "•";
            left: 0;
            font-size: 19px;
            color: #d7203e;
        }
    }

    &.inline {
        li {
            display: inline;

            &:first-child {
                padding-left: 0;

                &:before {
                    display: none;
                }
            }
        }
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

ol {
    margin-top: 22px;
    margin-bottom: 22px;
    list-style: decimal outside;

    li {
        margin-left: 42px;
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

a {
    border-bottom: dotted 1px red;
    text-decoration: none;
    color: #d7203e;
}