.modal-continue {
    .modal_outer {
        width: 447px;
        height: 332px;
    }

    .text {
        position: relative;
        padding-top: 50px;
        font-family: "PT Sans", sans-serif;
        font-size: 20px;
        line-height: 22px;
        text-align: center;

        &:before {
            @include icon('checkmark-big', 'x');
            top: 0;
        }
    }

    .question {
        padding-top: 22px;
        text-align: center;
    }

    .buttons {
        font-size: 0;
        margin-top: 42px;
        text-align: center;

        .yes {
            width: 70px;
            margin-right: 30px;
            padding-right: 0;
            padding-left: 0;
        }

        .no {
            width: 70px;
            padding-right: 0;
            padding-left: 0;
        }
    }
}