.section-winners-of-year {
    .container {
        padding-top: 18px;
        padding-bottom: 31px;
    }

    h2 {
    }

    ul {
        font-size: 15.56px;
        line-height: 22px;

        li {
            padding-left: 14px;
            line-height: 22px;

            &:first-child {
                padding-left: 0;
            }
        }
    }
}