.breadcrumbs {
    padding-top: 24px;
    margin-bottom: 13px;

    .item {
        display: inline;
        font-size: 15.9px;

        a {
            border-bottom: none;
            color: #000;

            &:hover {
                text-decoration: underline;
                color: #000;
            }
        }

        &:after {
            @include icon('arrow-right-breadcrumbs');
            margin-top: -1px;
            margin-left: 6px;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }

    + h1,
    + h2,
    + h3 {
        margin-top: 18px;
    }
}